{{#*inline "folder"}}
<li class="folder flexcol {{#unless f.expanded}}collapsed{{/unless}}" data-folder-id="{{f._id}}">
  <header class="folder-header flexrow">
    <h3><i class="fas fa-folder-open"></i>{{f.name}}</h3>
    {{#if user.isGM}}
    <a class="create-folder" data-parent-folder="{{f._id}}"><i class="fas fa-plus"></i></a>
    {{/if}}
  </header>

  <ol class="subdirectory">
    <!-- Child Folders -->
    {{#each f.children as |c ci|}}
        {{> folder f=c user=../user}}
    {{/each}}

    <!-- Folder Scenes -->
    {{#each f.content}}
        {{> scene}}
    {{/each}}
  </ol>
</li>
{{/inline}}

{{#*inline "scene"}}
<li class="scene directory-item flexrow" data-entity-id="{{this._id}}"
    style="background-image: url('{{this.data.thumb}}');">
  <h3 class="entity-name"><a>{{this.name}}</a></h3>
</li>
{{/inline}}

<section class="sidebar-tab tab flexcol" id="scenes" data-tab="scenes">
  <ol class="directory-list">
    <!-- Directories -->
    {{#each folders as |f fi|}}
        {{> folder f=f user=../user}}
    {{/each}}

    <!-- Unassigned Scenes -->
    {{#each unassigned}}
        {{> scene}}
    {{/each}}
  </ol>

  <!-- Directory Footer -->
  {{#if user.isGM}}
  <footer class="directory-footer">
    <button class="create-entity"><i class="fas fa-user"></i> Create Scene</button>
    <button class="create-folder"><i class="fas fa-folder"></i> Create Folder</button>
  </footer>
  {{/if}}
</section>
